:root{
    /* Primary */
    --DarkCyan: hsl(158, 36%, 37%);
    --Cream: hsl(30, 38%, 92%);
/* Neeutral */
    --VeryDarkBlue: hsl(212, 21%, 14%) ;
    --DarkGrayishBlue: hsl(228, 12%, 48%); 
    --White: hsl(0, 0%, 100%);
}


body{
background-color: var(--Cream);
font-size: 14px;
}
main{
    max-width: 350px;
}
img{
width: 100%;
}
article{
    background-color:var(--White) ;
}
section{
    padding: 1rem;
}